In [9]:
"""
symbols
"""

'\nsymbols\n'

In [10]:
print("Hello KIS-Developer")

Hello KIS-Developer

In [11]:
import pandas as pd
from mojito import KoreaInvestment

from private import KI_PRIVATE

In [12]:
def get_ki_broker():
    ki_broker = KoreaInvestment(
        api_key=KI_PRIVATE.get_app_key(),
        api_secret=KI_PRIVATE.get_app_secret(),
        acc_no=KI_PRIVATE.get_acc_number(),
    )
    return ki_broker

In [13]:
ki_broker = get_ki_broker()

In [14]:
symbols_df = ki_broker.fetch_symbols()

In [15]:
symbols_df

           단축코드              한글명 그룹코드   시장
0     F70100001    한투글로벌신성장2호(A)   BC  코스피
1     F70100002    한투글로벌신성장1호(A)   BC  코스피
2     F70100003  한투글로벌신성장1호(A-e)   BC  코스피
3     F70100004  한투글로벌신성장2호(A-e)   BC  코스피
4     F70101B95           밀라노부동산   BC  코스피
...         ...              ...  ...  ...
1684     900280            골든센츄리   FS  코스닥
1685     900120           씨케이에이치   FS  코스닥
1686     900250          크리스탈신소재   FS  코스닥
1687     900070           글로벌에스엠   FS  코스닥
1688     900100             애머릿지   FS  코스닥

[3923 rows x 4 columns]