In [ ]:
"""
주식시장
환율

---
OHLCV 머장님 일수도 있다.

"""

In [2]:
import FinanceDataReader as fdr

In [5]:
fdr.__version__

'0.9.50'

In [6]:
krx_df = fdr.StockListing("KRX")
krx_df

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,69600,2,-100,-0.14,69700,70200,69500,10322234,720442658092,415496865480000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,402000,1,10500,2.68,402500,404500,396500,442376,177315049250,94068000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,125800,1,500,0.40,126500,127200,125000,2796773,352479149000,91582697517000,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,705000,2,-7000,-0.98,715000,716000,701000,36328,25655539000,50177670000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,56600,1,300,0.53,56900,56900,56300,792571,44880176600,46575387220000,822886700,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2760,021045,KR7021041009,대호특수강우,KOSDAQ,중견기업부,7270,2,-30,-0.41,7060,7270,7060,395,2800260,3084268420,424246,KSQ
2761,288490,KR7288490006,나라소프트,KONEX,일반기업부,59,3,0,0.00,53,59,53,28961,1693380,2552753295,43267005,KNX
2762,245450,KR7245450002,씨앤에스링크,KONEX,일반기업부,1589,2,-10,-0.63,1597,1597,1400,12,17186,2510556440,1579960,KNX
2763,308700,KR7308700004,테크엔,KONEX,일반기업부,500,1,41,8.93,500,500,500,1,500,2000000000,4000000,KNX
2764,322190,KR7322190000,베른,KONEX,일반기업부,111,5,-19,-14.62,135,135,111,4754,528347,990696867,8925197,KNX

In [9]:
df = fdr.DataReader('215600', '2023')
df.tail(10)

            Open  High   Low  Close  Volume    Change
Date
2023-10-23  5030  5080  4610   4630  895143 -0.074000
2023-10-24  4700  4840  4540   4810  631240  0.038877
2023-10-25  4810  4835  4525   4595  749724 -0.044699
2023-10-26  4520  4570  4425   4535  453774 -0.013058
2023-10-27  4595  4775  4500   4665  559215  0.028666
2023-10-30  4570  4685  4485   4540  465747 -0.026795
2023-10-31  4555  4565  4340   4345  520849 -0.042952
2023-11-01  4345  4450  4295   4325  325887 -0.004603
2023-11-02  4415  4490  4380   4430  309408  0.024277
2023-11-03  4450  4495  4365   4470  285392  0.009029

In [15]:
df = fdr.DataReader("JPY/KRW", "1995")