In [12]:
import FinanceDataReader as fdr_broker

In [13]:
class FDR_LOADER:
    def __init__(self, fdr_broker) -> None:
        self.fdr_broker = fdr_broker

    def get_krx_df(self):
        krx_df = self.fdr_broker.StockListing("KRX")
        return krx_df

    def get_ohlcv_df(self, symbol, start=None, end=None):
        ohlcv_df = self.fdr_broker.DataReader(symbol=symbol, start=start, end=end)
        ohlcv_df = ohlcv_df.loc[:, ["Open", "High", "Low", "Close", "Volume"]]
        return ohlcv_df

In [15]:
fdr_loader = FDR_LOADER(fdr_broker)

In [16]:
krx_df = fdr_loader.get_krx_df()

In [18]:
stockcode = "005930"
start = "20220101"
end = None

ohlcv_df = fdr_loader.get_ohlcv_df(symbol=stockcode, start=start, end=end)
ohlcv_df.tail()

In [20]:
stockcode = "JPY/KRW"
start = "20220101"
end = None

ohlcv_df = fdr_loader.get_ohlcv_df(symbol=stockcode, start=start, end=end)
ohlcv_df.tail()

                 Open       High        Low      Close  Volume
Date
2022-01-03  10.307657  10.376366  10.297744  10.307657       0
2022-01-04  10.358617  10.369866  10.287787  10.358659       0
2022-01-05  10.298998  10.351369  10.295569  10.298985       0
2022-01-06  10.327411  10.426461  10.319870  10.326608       0
2022-01-07  10.396600  10.407605  10.354104  10.397956       0
...               ...        ...        ...        ...     ...
2023-10-30   9.051456   9.057537   8.995433   9.051033       0
2023-10-31   9.035369   9.035369   8.931456   9.040654       0
2023-11-01   8.906254   8.987809   8.906254   8.922843       0
2023-11-02   8.947548   8.947548   8.839749   8.947650       0
2023-11-03   8.861808   8.877244   8.712656   8.861720       0

[480 rows x 5 columns]